# Dependencies
node_modules/

# Next.js
.next/
out/

# Expo
.expo/
dist/
web-build/

# Build outputs
build/

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Editor / OS
.DS_Store
*.pem

# TypeScript
*.tsbuildinfo
next-env.d.ts
